*
{
    margin: 0;
    padding: 0;
}
.header
{
    width: 100%;
    height: 100%;
    color: #fff;
    background: linear-gradient(-50deg, rgb(8, 8, 8), rgb(248, 210, 255), #535552, #0b1d18, #f8f8f8);
    position: relative;
    background-size: 400%, 400%;
    animation: change 15s ease-in-out infinite;
    height: 100vh;
    opacity: 0.8;
}
.video-background
{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}
@media (min-aspect-ratio:16/9)
{
    .video-background
    {
        width: 100%;
        height: auto;
    }
}
@media (min-aspect-ratio:16/9)
{
    .video-background
    {
        width: auto;
        height: 100%;
    }
}
.welcome-msg
{
    position: relative;
    text-align: center;
    color: #fff;
    top: 150px;
}
.welcome-msg h1
{
    font-size: 80px;
    font-weight: 100;
    letter-spacing: 5px;
    margin-bottom: 30px;
}
.btn
{
    font-size: 18px;
    color: #fff;
    margin: 5px;
    padding: 7px  22px;
    text-decoration: none;
    border: 1px solid coral;
    border-radius: 25 px;
}
.btn-subscribe:hover
{
    background: rgb(255, 81, 81);
    transition: 1.8s;
}
.btn-comment:hover
{
    background: rgb(255, 81, 81);
    transition: 1.8s;
}
.btn-subscribe1:hover
{
    background: rgb(255, 81, 81);
    transition: 1.8s;
}
.logo
{
    margin: 25px;
    height: 40px;
}
.Clan-name
{
    text-align: center;
}
h1
{color: rgb(253, 115, 115);}
.members
{
    text-align: center;
}
body
{
    background: rgb(14, 13, 13);
    margin-bottom: auto;
}
.welcome-msg1
{
    position: relative;
    text-align: center;
    font-family: monospace;
    color: #fff;
    top: 150px;
}
.btn
{
    font-size: 18px;
    color: #fff;
    margin: 5px;
    padding: 7px  22px;
    text-decoration: none;
    border: 1px solid rgb(255, 244, 85);
    border-radius: 25 px;
}
.btn-subscribe3:hover
{
    background: rgb(255, 81, 81);
    transition: 1.8s;
}
.application
{
    position: relative;
    text-align: center;
    font-family: monospace;
    top: 150px;
    color: #fff;
    background: linear-gradient(-50deg, rgb(8, 8, 8), rgb(248, 210, 255), #535552, #0b1d18, #f8f8f8);
    position: relative;
    background-size: 400%, 400%;
    animation: change 15s ease-in-out infinite;
    top: 1cm;
}
.btn-application:hover
{
    background: rgb(255, 81, 81);
    transition: 1.8s;
}
.btn-application1:hover
{
    background: rgb(255, 81, 81);
    transition: 1.8s;
}
.clan-name
{
    border: 3px solid #fff;
    position: absolute;
}
.center
{
    text-align: center;
}
.clan-name1
{
    text-align: center;
}
.color1
{
    color: black;
}
.BSV
{
    text-align: center;
}
.image
{
    width: 80px;
    border-radius: 40px;
    float: left;
    margin-right: 10px;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translateX(0%)translateY(0%);
}
.username 
{
    font-weight: bold;
    font-size: 19px;
    margin: 25px;
    margin-right: 10cm;
    margin-left: 2.3cm;
    margin-top: 0.2cm;
    position: absolute;
    display: block;
    color: rgb(0, 0, 0);
}
.status
{
    color: rgb(255, 255, 255);
    font-weight: lighter;
    font-size: 15px;
    margin: 25px;
    margin-right: 10cm;
    margin-left: 2.3cm;
    margin-top: 1cm;
    position: absolute;
    display: block;
}
body
{
    background-color: rgb(87, 86, 86);
}
.font
{
    font-weight: 900;
    text-align: center;
    color: rgb(248, 194, 123);
}
.img
{
    width: 80px;
    border-radius: 10px;
}
.animation1
{
    width: 110px;
    height: 150px;
    border: 2px solid rgb(248, 244, 244);
    margin: 1cm;
    border-radius: 10px;
    background: #00FF00;
    transition: width 0.7s;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    text-align: center;
    position: relative;
    left: 580px;
}
.animation1:hover
{
    width: 200px;

}
.animation2
{
    width: 110px;
    height: 150px;
    border: 2px solid rgb(248, 244, 244);
    margin: 1cm;
    border-radius: 10px;
    background: #00FF00;
    transition: width 0.7s;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    text-align: center;
    position: relative;
    left: 580px;
}
.animation2:hover
{
    width: 200px;
}
.animation3
{
    width: 110px;
    height: 155px;
    border: 2px solid rgb(248, 244, 244);
    margin: 1cm;
    border-radius: 10px;
    background: #00FF00;
    transition: width 0.7s;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    text-align: center;
    position: relative;
    left: 580px;
}
.animation3:hover
{
    width: 200px;
}
.main
{
    width: 100%;
    height: 100%;
    font-size: normal;
    color: #fff;
    background: linear-gradient(-46deg,#FCFCFD, crimson, rgb(175, 11, 207), #FF2D00 , #00E5A3);
    position: relative;
    background-size: 400%, 400%;
    animation: change 15s ease-in-out infinite;
}
@keyframes change
{
    0%
    {
        background-position: 0 50%;
    }
    50%
    {
        background-position: 100% 50%;
    }
    100%
    {
        background-position: 0 50%; 
    }
}